.btn{
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    transition: 0.2s;
    margin: 3px;
    font-size: 15px;
}
.btn:hover{
    transform: translateY(-2px);
}
.primary-btn{
    background-color: var(--color-primary);
    color: var(--color-darkest);
    box-shadow: 10px 10px 50px var(--color-primary);
}
.primary-btn:hover{
    background-color: var(--color-light);
    color: var(--color-darkest);
    box-shadow: 10px 10px 50px var(--color-light);
}
.secondary-btn{
    background-color: var(--color-light);
    color: var(--color-darkest);
}
.secondary-btn:hover{
    background-color: var(--color-primary);
    box-shadow: 10px 10px 50px var(--color-primary);
}
@media (max-width: 992px) {
    .secondary-btn {
        height: 25px;
        font-size: 10px;
        padding: 5px;
    }
}