.lading-title .lading-text {
  margin: 60px 0px;
  padding: var(--padding-primary);
  color: var(--color-light);
  position: relative;
  font-size: 50px;
  font-weight: var(--fout-weight-bold);
  z-index: 1;
}

@media (max-width: 1280px) {
  .lading-title .lading-text {
    align-items: center;
    font-size: 600px;
  }
 }

@media (max-width: 992px) {
  .lading-title{
    display: flex;
    justify-content: center;
  }
  .lading-title .lading-text {
    font-size: 60px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .lading-text{
    top: 1px;
  }
  .lading-title .lading-title.lading-text {
    font-size: 20px;
  }
}

.lading-title .lading-text p span {
  color: var(--color-primary);
}