.landing-title .landing-text {
  margin: 60px 0px;
  padding: var(--padding-primary);
  color: var(--color-light);
  position: relative;
  font-size: 50px;
  font-weight: var(--fout-weight-bold);
  z-index: 1;
}

@media (min-width: 1500px) {
  .landing-title .landing-text {
    font-size: 60px;
  }
}

@media (max-width: 992px) {
  .landing-title{
    display: flex;
    max-width: 700px;
  }
  .landing-title .landing-text {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .landing-text{
    top: 1px;
  }
  .landing-title .landing-title .landing-text {
    font-size: 20px;
  }
}

.landing-title .landing-text p span {
  color: var(--color-primary);
}