.page-title {
  margin: 0px;
  padding: var(--padding-primary);
  color: var(--color-light);
  position: relative;
  font-size: 50px;
  font-weight: var(--fout-weight-bold);
}



/* @media (max-width: 1690px) {
  .page-title {
    font-size: 80px;
  }
} */
@media (max-width: 1280px) {
  .page-title {
    font-size: 70px;
  }
 }

@media (max-width: 992px) {
  .page-title {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .page-title {
    font-size: 20px;
  }
}

.page-title p span {
  color: var(--color-primary);
}