.landing {
  position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .landing img{
    position: absolute;
    z-index: -3;
  }
  .landing .cover-image{
    content: "";
    background-color: var(--color-darkest);
    position: absolute;
    right: 40%;
    top: -300px;
    width: 100%;
    height: 2000px;
    z-index: -1;
    transform: rotate(10deg);
  }

  @media (max-width: 992px) {
    .landing {
      margin-bottom: 200px;
    }
    .landing img{
      overflow: hidden;
      right: 40px;
      width: 100%;
      border-radius: 10px;
      left:0px;
      height: 800px;
    }
    .landing .cover-image {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover; 
      transform: scale(77.5); /* Ingrandisce l'immagine */
    }
    .landing .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
    }
}
