@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #FFC300;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2F2F2F;
    --foreground: #FFC300;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.shadow-down {
  box-shadow: 0 15px 40px rgba(255, 196, 0, 0.793)
  ;
}

.shadow-up {
  box-shadow: 0 -15px 40px rgba(255, 196, 0, 0.793);
}

.shadow-title {
  box-shadow: 0 15px 0 rgba(255, 196, 0, 0.189);
  ;
}