.skills {
    margin-bottom: var(--padding-primary);
    margin-top: var(--margin-primary);
    background-color: var(--color-darkest);
}

@media (max-width: 992px) {
    .skills {
        padding: -100px;
        margin: 0 -100px;
    }
}